.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    h1{
        width: 100%;
        text-align: center;
        margin: 45px;
        color: #ED6C4E;
        font-size: 3.2rem;
        animation-name: start;
        animation-duration: 0.8s;
    }
    .info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 70%;
        margin-bottom: 20px;
        img{
            width: 85%;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.6);
            margin-bottom: 45px;
        }
        p{
            width: 80%;
            font-size: 1.4rem;
            color: #98C1D9;
            letter-spacing: 1px;
            text-align: justify;
        }
    }
    ul{
        width: 50%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        li{
            color: #ED6C4E;
            font-size: 2.4rem;
        }
        li:hover{
            color: #98C1D9;
            transition: ease-in 0.2s;
            animation-name: icons;
            animation-duration: 0.3s;
        }
    }
}

//Animations

@keyframes start{
    0%{
        margin: 0;
        opacity: 0;
    }
    100%{
        margin: 45px;
        opacity: 1;
    }
}

@media (max-width: 600px){

    .about-me{

        h1{
            font-size: 2.8rem;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                img{
                    width: 60%;
                }
            }
            p{
                width: 90%;
                font-size: 1.1rem;
            }
        }
        ul{
            width: 90%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li{
                color: #ED6C4E;
                font-size: 2rem;
            }
            li:hover{
                color: #98C1D9;
            }
        }
    }

}

@media only screen and(min-width:600px) and (max-width: 1024px){
    .about-me{

        h1{
            font-size: 3rem;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                img{
                    width: 60%;
                }
            }
            p{
                width: 90%;
                font-size: 1.25rem;
            }
        }
        ul{
            width: 90%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li{
                color: #ED6C4E;
                font-size: 2rem;
            }
            li:hover{
                color: #98C1D9;
            }
        }
    }
}




@media only screen and(min-width:840px) and (max-width: 1024px){
    .about-me{

        h1{
            font-size: 3rem;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            div{
                display: flex;
                justify-content: center;
                img{
                    width: 60%;
                }
            }
            p{
                width: 90%;
                font-size: 1.25rem;
            }
        }
        ul{
            width: 90%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li{
                color: #ED6C4E;
                font-size: 2rem;
            }
            li:hover{
                color: #98C1D9;
            }
        }
    }
}