$c1: #3E5B80;
$c2: #ED6C4E;
$c3: #98C1D9;
$c4:#293242;

h1{
    font-family: 'Merriweather Sans', sans-serif;
}

h2,h3{
     font-family: 'Cantarell', sans-serif;;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
}