@import './data';

.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: $c4;
   /* position: fixed;*/
    ul{
        display: flex;
        list-style: none;
        width: 50%;
        li{
            margin-right: 40px;
            color: $c2;
            font-weight: bold;
            cursor: pointer;
        }
        li:hover{
            color: $c3;
            transition: ease-in 0.15s;
        }
        a:nth-child(1) li:hover{
            animation-name: icons;
            animation-duration: 0.3s;
        }
        a{
            text-decoration: none;
        }
    }
    .languages{
        justify-content: flex-end;
        li{
            margin-right: 15px;
        }
        .englishOn{
            color: $c3;
        }
        .englishOff{
            color: $c2;
        }
    }
}


.menu-hamb{
    display: none;
    .hamb-links{
        display: none;
    }
}



// Animations
@keyframes icons {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 600px){
    .menu{
        display: none;
    }

    .menu-hamb{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: $c4;
        position: relative;

        a{
            margin-left: 15px;
            color: $c2;
            font-weight: bold;
            cursor: pointer;
            font-size: 1.2rem;
        }
        a:hover{
            color: $c3;
            transition: ease-in-out 0.2s;
        }
        button{
            background-color: transparent;
            color: $c3;
            border: none;
            font-size: 1.4rem;
            cursor: pointer;
        }

        .on{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 200px;
            top: 30px;
            right: 0;
            background-color: $c3;
            align-items: center;
            ul{
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                a{
                    list-style: none;
                    text-align: center;
                    text-decoration: none;
                    margin: 0;
                    color: $c4;
                    font-size: 1.25rem;
                    max-width: 100%;
                    li{
                        margin: 0;
                        padding: 5px;
                    }
                }
                a li:hover{
                    transition: ease-in-out 0.3s;
                    background-color: $c4;
                    color: $c2;
                }
            }

            div{
                display: flex;
                justify-content: space-around;
                width: 100%;
                background-color: $c4;
                button{
                    color: $c2;
                    width: 50%;
                }
                button:hover{
                    background-color: $c2;
                    color: #293242;
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }
}

@media only screen and(min-width:600px) and (max-width: 890px){
    .menu{
        display: flex;
        width: 100%;
        justify-content: space-around;
        ul{
            display: flex;
            list-style: none;
            width: 20%;
            li{
                margin-right: 40px;
                color: $c2;
                font-weight: bold;
                cursor: pointer;
            }
        }

        ul:nth-child(1){
            width: 80%;
        }
    }
}

