@import './data';

.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    h3{
        width: 100%;
        text-align: center;
        color: $c2;
        font-size: 4rem;
    }
}

.projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.filter-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    svg:nth-child(1){
        margin-top: 0px;
        width: 100%;
    }
}

.list{
    background-color: $c4;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
        h3{
            width: auto;
            color: $c3;
            padding: 0;
            margin:0;
            font-size: 3.6rem;
        }
        svg{
            color:$c3;
            font-size: 80px;
            margin: 0 15px;
        }
    }

    .preview{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4,1fr);
    }
    .filter{
        display: flex;
    }


}

.b{
    background-color: $c1;
    .title{
        h3{
            color: $c2;
            font-size: 3.6rem;
        }
        svg{
            color: $c2;
        }
    }

}




@media (max-width: 600px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3rem;
        }
    }
        
    .list{
        background-color: $c4;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        .title{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 25px;
            h3{
                font-size: 2.5rem;
            }
            svg{
                display: none;
            }
        }

        .preview{
            width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns:1fr;
        }
        .filter{
            display: flex;
        }


    }
    .b{
        background-color: $c1;
        .title{
            h3{
                color: $c2;
            }
            svg{
                color: $c2;
            }
        }
    
    }


} 



@media only screen and(min-width:600px) and (max-width: 840px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3rem;
        }
    }
   
    .list{
        background-color: $c4;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        .title{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 25px;
            h3{
                font-size: 2.9rem;
            }
            svg{
                font-size: 2.5rem;
            }
        }

        .preview{
            width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns:repeat(2,1fr);
        }
        .filter{
            display: flex;
        }


    }
    .b{
        background-color: $c1;
        .title{
            h3{
                color: $c2;
            }
            svg{
                color: $c2;
            }
        }
    
    }


} 



@media only screen and(min-width:840px) and (max-width: 1024px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3.3rem;
        }
    }

    .list{
        background-color: $c4;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        .title{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 25px;

            svg{
                font-size: 2.5rem;
            }
        }

        .preview{
            width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns:repeat(2,1fr);
        }
        .filter{
            display: flex;
        }


    }
    .b{
        background-color: $c1;
        .title{
            h3{
                color: $c2;
            }
            svg{
                color: $c2;
            }
        }
    
    }

}


@media only screen and(min-width:1024px) and (max-width: 1400px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3.6rem;
        }
    }
    
    .list{
        background-color: $c4;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        .title{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 25px;
            svg{
                font-size: 2.8rem;
            }
        }

        .preview{
            width: 100%;
            display: grid;
            justify-items: center;
            grid-template-columns:repeat(3,1fr);
        }
        .filter{
            display: flex;
        }


    }
    .b{
        background-color: $c1;
        .title{
            h3{
                color: $c2;
            }
            svg{
                color: $c2;
            }
        }
    
    }


}