.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    h3{
        width: 100%;
        text-align: center;
        color: #ED6C4E;
        font-size: 4rem;
    }
}

.projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
}

.filter-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    svg:nth-child(1){
        margin-top: 0px;
        width: 100%;
    }
}

.projects-react{
    background-color: #ED6C4E;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;

    span{
        width: 500px;
    }
    div:nth-child(1){
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0;
        margin-left: 20px;
        h3{
            color: #3E5B80;
            padding: 0;
            margin:0;
            font-size: 3.6rem;
        }
        svg{
            color:#98C1D9;
            font-size: 80px;
        }
    }
    .filter{
        display: flex;
    }


}




.projects-jsVanilla{
    background-color: #3E5B80;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    padding: 0;

    span{
        width: 300px;
    }

    div:nth-child(1){
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0;
        h3{
            color: #ED6C4E;
            padding: 0;
            margin:0;
            font-size: 3.6rem;
        }
        svg{
            color:#98C1D9;
            font-size: 80px;
        }
    }
}


.projects-wordpress{
    background-color: #293242;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 150px;
    align-items: center;
    margin:0;
    padding: 0;

    span{
        width: 300px;
    }

    div:nth-child(1){
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0;
        h3{
            color: #ED6C4E;
            padding: 0;
            margin:0;
            font-size: 3.6rem;
        }
        svg{
            color:#ED6C4E;
            font-size: 80px;
        }
    }
}


@media (max-width: 600px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3rem;
        }
    }

    .projects-react{
        background-color: #ED6C4E;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }  
    }   
    
    .projects-jsVanilla{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 300px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }
    }
    
    
    .projects-wordpress{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        span{
            width: 300px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }
    }

} 



@media only screen and(min-width:600px) and (max-width: 840px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3rem;
        }
    }

    .projects-react{
        background-color: #ED6C4E;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }  
    }   
    
    .projects-jsVanilla{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }
    }
    
    
    .projects-wordpress{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 2.8rem;
                width: 50%;
            }
            svg{
                font-size: 60px;
                width: 50%;
            }
        }
    }

} 



@media only screen and(min-width:840px) and (max-width: 1024px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3.3rem;
        }
    }

    .projects-react{
        background-color: #ED6C4E;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 3.2rem;
                width: 50%;
            }
            svg{
                font-size: 70px;
                width: 50%;
            }
        }  
    }   
    
    .projects-jsVanilla{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 3.2rem;
                width: 50%;
            }
            svg{
                font-size: 70px;
                width: 50%;
            }
        }
    }
    
    
    .projects-wordpress{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: space-around;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 3.2rem;
                width: 50%;
            }
            svg{
                font-size: 70px;
                width: 50%;
            }
        }
    }

}


@media only screen and(min-width:1024px) and (max-width: 1400px){


    .projects{
        margin-top: 50px;
        h3{
            font-size: 3.6rem;
        }
    }

    .projects-react{
        background-color: #ED6C4E;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
        div:nth-child(1){
            width: 100%;
            margin-left: 0px;
            margin-bottom: 15px;
            justify-content: center;
            h3{
                font-size: 3.6rem;
                width: 20%;
                
            }
            svg{
                font-size: 80px;
                width: 20%;
            }
        }  
    }   
    
    .projects-jsVanilla{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: center;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 3.6rem;
                width: 20%;
            }
            svg{
                font-size: 70px;
                width: 20%;
            }
        }
    }
    
    
    .projects-wordpress{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        span{
            width: 0px;
        }
    
        div:nth-child(1){
            width: 100%;
            justify-content: center;
            margin-left: 0px;
            margin-bottom: 15px;
            h3{
                font-size: 3.6rem;
                width: 20%;
            }
            svg{
                font-size: 70px;
                width: 20%;
            }
        }
    }

}